.container {
  padding: 20px;
  margin: 6rem 0;
  .title_books {
    text-align: center;
    margin: 2rem 0;
  }
}

.bookList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.viewAllButton {
  background-color: #007bff; /* Blue button background */
  color: white;
  margin: 2rem 1rem;
  float: right;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  @media screen and (max-width: 1290px) {
    font-size: 15px;
  }
}
