.wrapper {
  .links_admin {
    margin: 13px 10px;
  }
  .books_list {
    text-decoration: none;
    color: black;
    margin: 0 2rem;
  }
  .link_href {
    text-decoration: none;
    color: black;
  }
  .Link {
    background-color: #007bff; /* Blue button background */
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    @media screen and (max-width: 1290px) {
      font-size: 15px;
    }
  }
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    padding: 1rem 2rem;
  }
  .rightWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .searchIconMobile {
      margin-right: 10px;
      cursor: pointer;
      display: none;
      @media screen and (max-width: 1000px) {
        display: block;
      }
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
  .searchBar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px 15px;
    width: 300px;
    @media screen and (max-width: 1000px) {
      display: none;
    }
    .searchIcon {
      margin-right: 10px;
    }

    input[type="text"] {
      flex-grow: 1;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 16px;
    }
  }
}
