.profileFormContainer {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif; // Adjust as needed
  .leafImage {
    @media screen and (max-width: 1290px) {
      display: none;
    }
  }
  .formContent {
    flex: 1;
    padding: 80px;
    background-color: white;

    .title {
      font-size: 32px;
      margin-bottom: 10px;
    }

    .subtitle {
      font-size: 16px;
      color: #666;
      margin-bottom: 30px;
    }

    .form {
      .inputField {
        margin-bottom: 20px;
        label {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 5px;
        }
        input,
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
      .submitButton {
        background-color: #689f38;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        .link {
          text-decoration: none;
          color: white;
        }
      }
    }
    .radioGroup {
      width: 100px;
    }
  }
}
