.reviewsContainer {
  width: 80%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.reviewsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.reviewCard {
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .email {
      font-weight: bold;
      margin-right: 10px;
    }

    .verified {
      color: green;
      margin-right: auto;
    }

    .rating {
      color: gold;
      font-size: 1.2em;
    }
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    margin-bottom: 10px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.showMoreButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    background-color: #0056b3;
  }
}
