.wrapper_register {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
.info_title_header {
  text-align: center;
  margin: 2rem;
  .leaf {
    object-fit: cover;
    object-position: center;
    max-height: 450px;
    width: 600px;
    margin: 2rem 0 0 0;
    border-radius: 20px;
  }
}
.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 700px;
  margin: 2rem 5rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.inputField,
.textArea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputField:focus,
.textArea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.textArea {
  resize: vertical;
  min-height: 100px;
}

.registerButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registerButton:hover {
  background-color: #0056b3;
}
